<hr />
          <footer>
<p><a href="http://www.byvoid.com/" target="_blank">刘超</a> 2015</p> </footer>
      </body>
      <script src="/javascripts/jquery-1.7.2.min.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
    </html>